In [1]:
# import statements
import pandas as pd

# settings
pd.set_option('display.max_rows', None)

In [2]:
# load data
breweries = pd.read_csv('Data/wa_breweries.csv')
prod22 = pd.read_csv('Data/Production/brewery_monthly_production_2022.csv')

In [3]:
prod22.head()

,BreweryInWAList,Brewery,4,8,12,2,1,7,6,3,5,11,10,9,total
0,192 brewing company,192 BREWING COMPANY,NaN,0.33,NaN,0.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.83
1,20 corners brewing company,20 CORNERS BREWING,72.33,209.93,106.50,104.64,NaN,NaN,NaN,147.98,NaN,75.86,NaN,132.30,849.54
2,23rd ave brewery,23RD AVE BREWERY,NaN,NaN,NaN,NaN,NaN,5.00,4.78,NaN,2.00,NaN,14.0,1.00,26.78
3,4 stitch brewing company,4 STITCH BREWING CO.,NaN,3.40,NaN,2.00,NaN,1.46,NaN,1.25,4.72,NaN,NaN,NaN,12.83
4,45 degree brewhouse,45 DEGREE BREWHOUSE,NaN,NaN,31.13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.09,38.22

In [4]:
prod22.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388 entries, 0 to 387
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   BreweryInWAList  388 non-null    object
 1   Brewery          388 non-null    object
 2   4                292 non-null    float64
 3   8                299 non-null    float64
 4   12               303 non-null    float64
 5   2                311 non-null    float64
 6   1                288 non-null    float64
 7   7                317 non-null    float64
 8   6                300 non-null    float64
 9   3                299 non-null    float64
 10  5                297 non-null    float64
 11  11               308 non-null    float64
 12  10               293 non-null    float64
 13  9                313 non-null    float64
 14  total            388 non-null    float64
dtypes: float64(13), object(2)
memory usage: 45.6+ KB

In [5]:
breweries.head()

,brewery,satellite_location,flagship,brewery_type,address,city,zipcode,county,latitude,longitude,year_established,guild_member,production_data_2017,production_data_2022,closed_since_2022,untappd_profile_link
0,192 Brewing Company,Mount Vernon,0,taproom,1405 South 2nd Street,Mount Vernon,98273,Skagit,48.411774,-122.337970,2010,1,1,1,1,https://untappd.com/192BrewingCo
1,192 Brewing Company,NaN,1,brewpub,7324 NE 175th Street Ste F,Kenmore,98028,King,47.756677,-122.242502,2010,1,1,1,0,https://untappd.com/192BrewingCo
2,20 Corners Brewing Company,NaN,1,brewpub,14148 NE 190th St - Suite A,Woodinville,98072,King,47.765067,-122.151015,2016,0,1,1,0,https://untappd.com/20CornersBrewingCompany
3,210 Brewing Company,NaN,1,taproom,3438 Stoluckquamish Lane,Arlington,98223,Snohomish,48.213532,-122.184854,2015,1,1,0,0,https://untappd.com/210Brewing
4,23rd Ave Brewery,NaN,1,micro,2313 S Jackson St,Seattle,98144,King,47.599270,-122.301800,2018,0,0,1,0,https://untappd.com/23rdAveBrewery

In [6]:
# clean data

# rename production columns
prod22 = prod22.rename(columns={
    'BreweryInWAList':'brewery_wa',
    'Brewery':'brewery_prod',
    '1':'January',    '2':'February', '3':'March',     '4':'April',
    '5':'May',        '6':'June',     '7':'July',      '8':'August',
    '9':'September', '10':'October', '11':'November', '12':'December',
    'total':'total_annual'})

# reorder production columns
prod22 = prod22[['brewery_wa','brewery_prod','January','February','March','April','May','June',
         'July','August','September','October','November','December','total_annual']]

# create brewery mapping field
breweries['brewery_map'] = breweries['brewery'].str.lower()

# get primary brewery locations
breweries_primary = breweries[breweries['flagship'] == 1]

In [7]:
prod22.head()

,brewery_wa,brewery_prod,January,February,March,April,May,June,July,August,September,October,November,December,total_annual
0,192 brewing company,192 BREWING COMPANY,NaN,0.50,NaN,NaN,NaN,NaN,NaN,0.33,NaN,NaN,NaN,NaN,0.83
1,20 corners brewing company,20 CORNERS BREWING,NaN,104.64,147.98,72.33,NaN,NaN,NaN,209.93,132.30,NaN,75.86,106.50,849.54
2,23rd ave brewery,23RD AVE BREWERY,NaN,NaN,NaN,NaN,2.00,4.78,5.00,NaN,1.00,14.0,NaN,NaN,26.78
3,4 stitch brewing company,4 STITCH BREWING CO.,NaN,2.00,1.25,NaN,4.72,NaN,1.46,3.40,NaN,NaN,NaN,NaN,12.83
4,45 degree brewhouse,45 DEGREE BREWHOUSE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.09,NaN,NaN,31.13,38.22

In [8]:
prod22.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388 entries, 0 to 387
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   brewery_wa    388 non-null    object
 1   brewery_prod  388 non-null    object
 2   January       288 non-null    float64
 3   February      311 non-null    float64
 4   March         299 non-null    float64
 5   April         292 non-null    float64
 6   May           297 non-null    float64
 7   June          300 non-null    float64
 8   July          317 non-null    float64
 9   August        299 non-null    float64
 10  September     313 non-null    float64
 11  October       293 non-null    float64
 12  November      308 non-null    float64
 13  December      303 non-null    float64
 14  total_annual  388 non-null    float64
dtypes: float64(13), object(2)
memory usage: 45.6+ KB

In [9]:
# melt production data
months = ['January','February','March','April','May','June','July',
        'August','September','October','November','December','total_annual']

prod22_melt = prod22.melt(id_vars=['brewery_wa','brewery_prod'], 
              value_vars=months,
              var_name='month',value_name='production')

# create custom sort
prod22_melt['month'] = pd.Categorical(prod22_melt['month'], months)
prod22_melt = prod22_melt.sort_values(by=['brewery_wa','month']).reset_index()

prod22_melt.head()

   index           brewery_wa         brewery_prod     month  production
0      0  192 brewing company  192 BREWING COMPANY   January         NaN
1    388  192 brewing company  192 BREWING COMPANY  February         0.5
2    776  192 brewing company  192 BREWING COMPANY     March         NaN
3   1164  192 brewing company  192 BREWING COMPANY     April         NaN
4   1552  192 brewing company  192 BREWING COMPANY       May         NaN

In [10]:
# merge dataframes
cols1 = ['brewery','brewery_type','address','city','zipcode',
        'county','latitude','longitude','year_established','guild_member',
        'closed_since_2022','untappd_profile_link',
        'January','February','March','April','May', 'June','July','August',
        'September','October','November','December','total_annual']
brewery_production_2022 = breweries_primary.merge(prod22, left_on='brewery_map', right_on='brewery_wa')
brewery_production_2022 = brewery_production_2022[cols1]

cols2 = ['brewery','brewery_type','address','city','zipcode',
        'county','latitude','longitude','year_established','guild_member',
        'closed_since_2022','untappd_profile_link',
        'month','production']
brewery_production_2022_melted = breweries_primary.merge(prod22_melt, left_on='brewery_map', right_on='brewery_wa')
brewery_production_2022_melted = brewery_production_2022_melted[cols2]

In [11]:
brewery_production_2022.head()

,brewery,brewery_type,address,city,zipcode,county,latitude,longitude,year_established,guild_member,...,April,May,June,July,August,September,October,November,December,total_annual
0,192 Brewing Company,brewpub,7324 NE 175th Street Ste F,Kenmore,98028,King,47.756677,-122.242502,2010,1,...,NaN,NaN,NaN,NaN,0.33,NaN,NaN,NaN,NaN,0.83
1,20 Corners Brewing Company,brewpub,14148 NE 190th St - Suite A,Woodinville,98072,King,47.765067,-122.151015,2016,0,...,72.33,NaN,NaN,NaN,209.93,132.30,NaN,75.86,106.50,849.54
2,23rd Ave Brewery,micro,2313 S Jackson St,Seattle,98144,King,47.599270,-122.301800,2018,0,...,NaN,2.00,4.78,5.00,NaN,1.00,14.00,NaN,NaN,26.78
3,4 Stitch Brewing Company,brewpub,16709 9th Ave SE,Mill Creek,98012,Snohomish,47.846174,-122.220188,2023,1,...,NaN,4.72,NaN,1.46,3.40,NaN,NaN,NaN,NaN,12.83
4,5 North Brewing Company,taproom,6501 N Cedar Rd,Spokane,99208,Spokane,47.717587,-117.432850,2020,0,...,28.27,24.65,22.47,25.81,23.14,18.49,13.17,16.04,14.83,267.32

In [12]:
brewery_production_2022_melted.head()

,brewery,brewery_type,address,city,zipcode,county,latitude,longitude,year_established,guild_member,closed_since_2022,untappd_profile_link,month,production
0,192 Brewing Company,brewpub,7324 NE 175th Street Ste F,Kenmore,98028,King,47.756677,-122.242502,2010,1,0,https://untappd.com/192BrewingCo,January,NaN
1,192 Brewing Company,brewpub,7324 NE 175th Street Ste F,Kenmore,98028,King,47.756677,-122.242502,2010,1,0,https://untappd.com/192BrewingCo,February,0.5
2,192 Brewing Company,brewpub,7324 NE 175th Street Ste F,Kenmore,98028,King,47.756677,-122.242502,2010,1,0,https://untappd.com/192BrewingCo,March,NaN
3,192 Brewing Company,brewpub,7324 NE 175th Street Ste F,Kenmore,98028,King,47.756677,-122.242502,2010,1,0,https://untappd.com/192BrewingCo,April,NaN
4,192 Brewing Company,brewpub,7324 NE 175th Street Ste F,Kenmore,98028,King,47.756677,-122.242502,2010,1,0,https://untappd.com/192BrewingCo,May,NaN

In [13]:
# save data
brewery_production_2022.to_csv('Data/brewery_production_2022.csv', index=False)
brewery_production_2022_melted.to_csv('Data/brewery_production_2022_melted.csv', index=False)

In [14]:
# count months with nulls
brewery_production_2022_melted[['brewery','month','production']].groupby(['brewery'])['production'].count()-1

brewery
192 Brewing Company                        2
20 Corners Brewing Company                 7
23rd Ave Brewery                           5
4 Stitch Brewing Company                   5
45 Degree Brewhouse                        2
5 North Brewing Company                   12
5 Rights Brewing Company                   9
54°40' Brewing Company                     8
5th Line Brewing Company                  12
7 Seas Brewing Company                    12
Acorn Brewing                             10
Airways Brewing Company                   12
Ale Spike Camano Island Brewing           12
Anacortes Brewery                         12
Ancient Lakes Brewing Company              9
Another Round Brewing Company             10
Ashtown Brewing Company                   10
Aslan Brewing Company                     12
At Large Brewing                          12
Atomic Ale Brewpub and Eatery              9
Atwood Farm Brewery                        9
Audacity Brewing                          12
Backwoods Brewing Company                 12
Bad Jimmy's Brewing Company               11
Badass Backyard Brewing                    7
Badger Mountain Brewing Company           11
Bainbridge Brewing Company                12
Bale Breaker Brewing Company              12
Bardic Brewing and Cider                   7
Barhop Brewing                             9
Barley POP! Brewing                        6
Barlow's Brewery                           2
Barrel Mountain Brewing                   12
Bastion Brewing Company                    4
Beach Cat Brewing                          9
Beardslee Public House                    12
Bellevue Brewing Company                  12
Bellwether Brewing Company                12
Bennidito's Brewpub                       10
Bent Bine Brewing Company                  5
Berchmans Brewing Company                  3
Best of Hands Barrelhouse                 11
Bickersons Brewhouse                      12
Big Block Brewing                         12
Big House Brewpub                          7
Big Time Brewery                           7
Birdsview Brewing Company                 12
Bizarre Brewing                            3
Black Fleet Brewing                       12
Black Label Brewing Company                4
Black Raven Brewing Company               12
Blackbeard's Brewing Company               9
Blewett Brewing Company                   12
Bombing Range Brewing Company             12
Bottle Bay Brewing Company                 3
Boundary Bay Brewery                      12
BreakThru Brewing Company                 10
Brewbakers Brewing Company                11
Brick West Brewing Company                12
Bron Yr Aur Brewing Company               12
Brother Ass Brewing                       11
Brothers Cascadia Brewing                 11
Bugu Brewing Company                      11
Burke-Gilman Brewing Company               8
Burwood Brewing Company                   12
Byron Street Brewery                       4
Cairn Brewing                             12
Camas Brewing Company                      5
Camp Colvos Brewing                        9
Captain's Brewing Company                  7
Cardinal Craft Brewing                     5
Chainline Brewing Company                 12
Chaos Bay Brewing Company                  3
Chief Spring's Fire and Irons Brewpub     10
Chuckanut Brewery                         12
Cloudburst Brewing                        12
Cole Street Brewery                        4
Common Language Brewing Company           10
Counterbalance Brewing Company            10
Cowiche Creek Brewing Company             12
Crane's Castle Brewing Company            12
Crooked Label Brewing Company             12
Crossbuck Brewing                         11
Crossed Arrows Brewery                     1
Crucible Brewing Company                  10
Cursed Brewing                             3
Darach Brewing Company                     1
Decibel Brewing Company                    2
Deep Draft Brewing                        12
Diamond Knot Brewing Company              12
Dick's Brewing Company                     7
Dirty Couch Brewing                        3
Discovery Bay Brewing                     12
District Brewing                          12
Doghaus Brewery                           12
Doomsday Brewing Company                  12
Double Bluff Brewing Company              12
Downpour Brewing                           8
Dreadnought Brewing                        7
Dru Bru                                   12
Dubtown Brewing Company                   12
Dunagan Irish Pub and Brewery              4
Dungeness Brewing Company                  2
Dwinell Country Ales                      12
Dystopian State Brewing Company            5
E2W Brewing                                5
E9 Brewing Company                        12
Echoes Brewing Company                    12
Elk Head Brewing Company                  12
Elliott Bay Brewing Company               12
Elysian Brewing                           12
Everybody's Brewing                       12
Explorer Brewing Company                  11
Fair Isle Brewing                         12
Farmstrong Brewing Company                 9
Fast Fashion Beer                          9
Fathom and League Hop Yard Brewery         9
Fermentation Initiative                    6
Figurehead Brewing Company                11
Fired Up Brewing                          10
Five Dollar Ranch Brewing Company         12
Five Dons Brewing                          1
Floodland Brewing                          5
Flyers Restaurant and Brewery              4
Flying Bike Cooperative Brewery            9
Flying Lion Brewing                       12
Foggy Noggin Brewing                      12
For the Love of God Brewing               12
Formula Brewing                           10
Fortside Brewing Company                  12
Forward Operating Base Brewing Company     4
Four Generals Brewing                     12
Four Horsemen Brewery                      8
Four-Eyed Guys Brewing Company            10
Fremont Brewing Company                   12
Fringe Brewing                            12
Future Primitive Brewing                  11
Gallaghers Where U Brew                   10
Garden Path Fermentation                  12
Garland Brew Werks                         6
Geaux Brewing                              2
Genus Brewing                             12
Georgetown Brewing Company                12
Ghost Runners Brewery                     12
Ghostfish Brewing Company                 12
Gig Harbor Brewing                         7
Golden Handle Brewing Company              8
Good Brewing Company                       1
Grains Of Wrath Brewing                    3
Griffin Brewing Pilot House                9
Gruff Brewing Company                      9
Hale's Ales                                6
Half Lion Brewing Company                 10
Haywire Brewing Company                    7
Headless Mumby Brewing Company            11
Headworks Brewing                         12
Heathen Brewing                           12
Hellbent Brewing Company                  12
Hemlock State Brewing Company             12
Here Today Brewery and Kitchen             3
Hideaway Brewing Company                  12
High Bluff Brewing                         5
Hildegard Ferments and Botanicals          3
Hillbilly Brewing Company                  5
Hoh River Brewery                         11
Holy Mountain Brewing Company             10
Hood Canal Brewery                        11
Hop Chaos Brewing Company                  9
Hoquiam Brewing Company                    6
Horse Heaven Hills Brewery                11
Humble Abode Brewing                      12
Ice Harbor Brewing Company                12
Icicle Brewing Company                    12
Iconic Brewing                            10
In The Shadow Brewing                     12
Inland Ale Works                           9
Iron Goat Brewing                         12
Iron Horse Brewery                        12
Island Hoppin' Brewery                    11
Jellyfish Brewing Company                 12
Jones Creek Brewing                       11
Kulshan Brewing Company                   12
La Conner Brewing Company                 12
Ladd and Lass Brewing                     12
Laht Neppur Brewing Company                8
Lake Chelan Brewery                        6
Lake Stevens Brewing Company               9
Lantern Brewing                           12
Lazy Boy Brewing                          12
Logan Brewing Company                     11
Loowit Brewing Company                    12
Lopez Island Brewing Company              11
Lost Woods Brewery                         5
Lovecraft Brewing Company                  9
Lowercase Brewing                          6
Lucky Envelope Brewing                    12
Lumber House Brewery                      12
Lumberbeard Brewing                       12
Mac and Jack's Brewing Company            12
Machine House Brewery                     12
Maelstrom Brewing Company                 12
Magnuson Cafe and Brewery                 10
Maritime Pacific Brewing Company          12
Masters Brewhouse                         10
Matchless Brewing                         12
McMenamins Anderson School Brewery        12
McMenamins Elks Temple                    12
McMenamins Kalama Harbor Lodge            12
Mcmillin Farm brewhouse                    2
Meatheads Smokehouse and Beer Works        3
Menace Brewing                             7
Middleton Brewing                          6
Milepost 111 Brewing Company               6
Millwood Brewing Company                  12
Mirage Beer Company                       12
Monka Brewing Company                      9
Moonshot Brewing                          12
Mother Fern Brewing                        9
Mount Olympus Brewing                      6
Mountain Lakes Brewing Company            10
Mule and Elk Brewing Company              11
Métier Brewing Company                    12
Narrows Brewing Company                   12
Natural 20 Brewing Company                 4
New Maitland Brewing Llc                   6
No Boat Brewing Company                   12
No Drought Brewing Company                 7
No-Li Brewhouse                           12
North 47 Brewing Company                  12
North Fork Brewery                        12
North Jetty Brewing                       12
North Sound Brewing Company               12
Northern Ales                              7
Northwest Brewing Company                  8
Northwest Peaks Brewery                    5
Northwood Public House and Brewery         6
Nun Chuck's Brewing Company               11
Obec Brewing                              11
Odd Otter Brewing Company                  4
Odin Brewing Company                      11
Off Camber Brewing                         3
Ogres Brewing                             12
Old Schoolhouse Brewery                    8
Old Stove Brewing Company                 12
Optimism Brewing Company                  11
Otherlands Beer                            5
Outer Planet Craft Brewing                11
Outlander Brewery and Pub                  9
Paper Street Brewing Company               5
Paradise Creek Brewery                    12
Paramour Brewing Company                   8
Pastime Brewery                           12
Peace of Mind Brewing                      3
Peddler Brewing Company                    3
Penn Cove Brewing Company                 12
Perfect Circle Brewing                     7
Perihelion Brewery                        12
Perry Street Brewing                      12
Pike Brewing Company                      12
Pint Size Brewing                         10
Port Townsend Brewing Company              6
Postdoc Brewing                           12
Potlatch Brewing Company                   9
Powerhouse Restaurant and Brewery         11
Precious Things Fermentation Project      11
Propolis Brewing                          12
Quartzite Brewing Company                 10
Quirk Brewing                             12
RAM Restaurant and Brewery                12
Rail Hop'n Brewing Company                 8
Railside Brewing                           6
Rainy Daze Brewing                        12
Rattlesnake Mountain Brewing Company      12
Ravenna Brewing Company                    6
Redhook Brewlab                            4
Remlinger Farm Brewery                     6
Republic Brewing Company                  12
Resonate Brewery and Pizzeria              7
Reuben's Brews                            12
Ridgefield Craft Brewing Company          10
Ridgeline Brewing Company                  4
River City Brewing                        11
River Mile 38 Brewing Company             12
River Time Brewing                         4
Riverport Brewing Company                 12
Rocky Coulee Brewing                      12
Rooftop Brewing Company                   10
Rose Garage Brewing and Taps               8
Roslyn Brewing Company                     7
SAAL Brewing Company                      10
Saddle Rock Pub and Brewery               10
Sage Brewing Company                      12
Salish Sea Brewing Company                 6
San Juan Island Brewing Company           12
Savage Brewing Company                     7
Scamp Brewing Company                     12
Schooner Exact Brewing Company            12
Scuttlebutt Brewing Company               12
Scythe Brewing Company                     4
Seapine Brewing Company                    5
Shellback Brewing                         10
Shoug Brewing Company                     12
Sig Brewing Company                       12
Silver City Brewery                       12
Singing Hops Brewing Company              11
Single Hill Brewing Company               12
Skep Brewing Company                      12
Skookum Brewery                           12
Slaughter County Brewing Company           3
Slippery Pig Brewing                      12
Snapshot Brewing                           8
SnoTown Brewery                           12
Snoqualmie Falls Brewing Company           9
Snow Eater Brewing Company                 2
Sound To Summit Brewing                   12
Spada Farmhouse Brewery                   11
Spokanite Brewing                          6
Square Wheel Brewing Company              10
Squirrel Fight Artisan Brewing             4
Standard Brewing                          11
Steam Donkey Brewing Company               8
Stemma Brewing Company                    12
Stones Throw Brewery                       9
Stormy Mountain Brewing                   11
Stoup Brewing                             12
Structures Brewing                        12
Sumerian Brewing Company                  10
Swinnerton Brewery                         1
TT's Old Iron Brewery                     11
Taneum Creek Brewing                       7
Temperate Habits Brewing Company          11
Ten Pin Brewing Company                   12
Terramar Brewing and Distilling           12
The Good Society Brewery                  12
The Grain Shed                            10
The Heavy Metal Brewing Company            5
The Hidden Mother Brewery                  3
The Station U-Brew                        12
Thirsty Crab Brewery                      10
Three Bull Brewing                        12
Three Magnets Brewing                      7
Timber Monster Brewing                     1
Timber Patch Brewing                      12
Tin Dog Brewing                           10
Top Down Brewing Company                  11
Top Frog Brewery                          12
Top Knot Brewing                           6
Top Rung Brewing Company                  11
Trap Door Brewing                         12
Triceratops Brewing Company                8
Triple R Brewing                          10
Triplehorn Brewing Company                11
Trusty Brewing Company                     3
Twin Sisters Brewing Company              12
Two Beers Brewing Company                 12
Uprise Brewing Company                     6
Urban Family Brewing Company              10
V Twin Brewing Company                     4
Valhöll Brewing Company                   12
Valley Brewing Company                     8
Valley House Brewing Company              11
Varietal Beer Company                      7
Vashon Brewing                             9
Vice Beer                                  3
Victor 23 Craft Brewery                   12
Volition Brewing Company                   7
Wander Brewing                            12
Wandering Hop Brewery                     12
Water Buffalo Brewery                     12
Watts Brewing Company                      8
Well 80 Brewing Company                   12
Wenatchee Valley Brewing Company          11
West Seattle Brewing Company               6
Western Red Brewing                        9
Wet Coast Brewing Company                 11
Wheelie Pop Brewing                       11
Whipsaw Brewing                           12
Whistle Punk Brewing Company              12
White Bluffs Brewing                      12
Whitewall Brewing Company                 12
Wicked Teuton Brewing Company             11
Wild Man Brewing Company                  12
Wild Oak Project                           2
Wildland Cooperative                       5
Willapa Brewing Company                   12
Yakima Craft Brewing Company              11
Yaya Brewing Company                      12
Yoked Farmhouse and Brewery                6
Name: production, dtype: int64

In [18]:
# get months with nulls
brewery_production_2022_melted[['brewery','month','production']].groupby(['month'])['production'].count()

month
January         288
February        311
March           299
April           292
May             297
June            300
July            317
August          299
September       313
October         293
November        308
December        303
total_annual    388
Name: production, dtype: int64